body {
    background: #171717;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 25px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: green;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
    color: white;
    margin: 25px;
    background-color: #171717;
}

.styled-table tr {
    border-bottom: 1px solid black;
    margin: 25px;
}

.styled-table tr {
    background-color: black;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
