<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ query }} | Binotify</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/shared.css" />
    <link rel="stylesheet" href="css/search.css" />
    <script src="js/table.js"></script>
    <script src="js/search.js"></script>
    <script src="js/util.js"></script>
    <script>
        var result = {{ json_result }};
        var page = {{ page }};
    </script>
</head>
<body>
    <div id="app">
        {{ navbar }}
        {{ main }}
    </div>
</body>
</html>