<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ query }} | Binotify</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/shared.css" />
    <link rel="stylesheet" href="css/search.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="js/table.js"></script>
    <script src="js/search.js"></script>
    <script src="js/util.js"></script>
    <script src="js/searchbar.js"></script>
    <script>
        var result = {{ json_result }};
        var page = {{ page }};
        var genres = {{ genres }};
    </script>
</head>
<body>
    <div id="app">
        {{ navbar }}
        {{ main }}
    </div>
</body>
</html>