<div class="authContainer">
    <h1 class="logo">Binotify</h1>
    <hr>
    <p>To continue, log in to Binotify.</p>
    <br>
    <form action="login.php" method="post" id="loginForm" class="dataForm">
        {{ invalidLogin }}
        <label for="userIdentityLogin">Email address or username</label>
        <input type="text" id="userIdentityLogin" name="userIdentityLogin" placeholder="Email address or username">
        <label for="userPasswordLogin">Password</label>
        <input type="password" id="userPasswordLogin" name="userPasswordLogin" placeholder="Password">
        <div id="logInButtonContainer">
            <button type="submit" name="login">LOG IN</button>
        </div>
        <hr>
    </form>
    <form action="login.php" method="post" id="redirectSignUpForm">
        <label for="signUpButton">Don't have an account?</label>
        <button type="submit" id="signUpButton" name="redirectSignUp">SIGN UP FOR BINOTIFY</button>
    </form>
</div>