<form action="register.php" method="post">
    <p>{{  invalidLogin  }}</p>
    <h1>Binotify</h1>
    <input type="email" id="userEmailRegister" name="userEmailRegister" placeholder="Email" required>
    <input type="password" id="userPasswordRegister" name="userPasswordRegister" placeholder="Create a password" required>
    <input type="text" id="userNameRegister" name="userNameRegister" placeholder="What should we call you?" required>
    <button type="submit" name="register">Sign up</button>
</form>